/* 

--- 01 TYPOGRAPGY SYSTEM

-Font sizes(px)

10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-Font weights:
-Default: 
Madium:
Semi-bold:
Bold:

-Line heights:
Default:
Small:
Medium:
Paragraph default:
Large: 1.4


-Letter spacing:
-0.5px
0.75px

---02 COLORS
-Primary:#ebebeb
-Tints: 

-Shades:
-Accents:
-Greys:
-#666a6b;
-#262828;
-#4c4f50;
-#202020; 




--- 05 SHADOWS
box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS
Default: 9px
Medium: 11px
---07 WHITESPACE

-SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Serif", sans-serif;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4 )), url("images/main-background.jpg")  ;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #ebebeb;;
}

.section-hero {
  padding: 1rem 40rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.logo {
  font-size: 2.8rem ;
  font-weight: 600;
}


.nav-bar ul {
  display: flex;
  list-style-type: none;
}

.nav-bar li {
  margin-right: 6rem;
}

.nav-bar li:last-child{
  margin-right: 0;
}

.nav-bar li a {
  font-size: 2.6rem;
  font-weight: 500;
  text-decoration: none;
  color: #ebebeb;
  transition: all 0.3s ease;
}

.nav-bar li a:visited {
  color:#ebebeb
}
.nav-bar li a:hover {
  font-size: 2.7rem;
  color: #262828;
}


.nav-bar li a:active {
  color: #404243;
  text-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.3);
}

.main-content {
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  font-size: 9.8rem;
  font-weight: 600;
  line-height: 1.5;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4)
}

.explore-button {
  width: 30rem;
  margin-top: 10rem;
  padding: 3rem 6rem;
  font-size: 2.5rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  color: white;
  background-color:#666a6b;
  transition: all 0.3s ease;
}

.explore-button:hover {
  background-color: #4c4f50;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.explore-button:active {
  background-color: #202020; 
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.6); 
}