/* Загальні стилі */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  text-align: justify;
  background-color: rgba(165, 165, 243, 0.4);
}

/* Стилі для заголовків */
h1 {
  font-size: 28px;
  color: #2c3e50;
  text-align: center;
  font-style: italic;
  line-height: 1.4;
}

#home {
  color: #e74c3c !important;
}

.highlight-home {
  color: #3498db;
  font-weight: bold;
}

/* a {
  color: #2980b9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #6c3483;
}

a:active {
  color: #c0392b;
} */


p {
  font-size: 18px;
  color: #555;
  line-height: 1.8;
}


p a {
  color: red;
  font-weight: bold;
}


h1 + p {
  font-size: 20px;
  color: #e67e22;
}


body > h1 {
  text-transform: uppercase;
}


ul > li {
  font-weight: bold;
}

ol {
  list-style-type: decimal;
  padding-left: 20px;
  color: #e31c1c;
  font-size: 18px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
  background-color: #fff;
  border: 2px solid #2c3e50;
  margin: 20px 0;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
  font-family: 'Luminari', fantasy;
}

th {
  background-color: #2c3e50;
  color: white;
  font-size: 20px;
  padding: 15px;
}

tfoot {
  background-color: #eaf2f8;
  font-weight: bold;
}


.left-align {
  text-align: left;
}

.left-align {
  text-align: left;
}


.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}


caption {
  font-size: 22px;
  font-weight: bold;
  padding: 10px;
  color: #2c3e50;
}
